body {
    background-color: black;
}
h1{
    color: antiquewhite;
    font-size: 2rem;
}
p{
    color: antiquewhite;
    font-size: 1rem;
}
.meme{
    width: 75%;
    margin-left: 12.5%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
;
}
img{
    border: 5px solid white;
    width: 100%;
}